{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <h1 class="page-header">{{ self.title() }}</h1>
    <p class="lead">
        Userspace Raspberry Pi PWM library for WS281X LEDs
    </p>
    <p>
        From Jeremy Garff:
        <a href="https://github.com/jgarff/rpi_ws281x">
            https://github.com/jgarff/rpi_ws281x
        </a>
    </p>
    <p class="lead">
        Minimal Flask template with bootstrap
    </p>
    <p>
        From Kibur:
        <a href="https://github.com/Kibur/Flask-Template">
            https://github.com/Kibur/Flask-Template
        </a>
    </p>
    <p class="lead">
        Used hardware/technologies:
    </p>
    <p>
        <ul>
            <li>Raspberry Pi B+</li>
            <li>LED strip WS2812b</li>
            <li>Stabilized Powersupply (5V/1A)</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Bootstrap</li>
            <li>Jinja 2</li>
            <li>Python(Flask Framework)</li>
            <li>Socket.IO</li>
            <li>RPi_WS281x Library</li>
        </ul>
    </p>
{% endblock %}
