<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %} - LED Strip Manager</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='css/master.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% include "includes/_header.html" %}
        <main class="container">
            {% block content %}{% endblock %}
        </main>
        <footer>
            <span>
                &copy; Copyright 2016 by <a href="https://github.com/XeoXeo">C&eacute;dric Dellisse</a>.
            </span>
        </footer>
        {% block scripts %}
            <script src="{{ url_for('static', filename='js/jquery-2.2.3.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
